# Database Configuration
POSTGRES_USER=viernulvier
POSTGRES_PASSWORD=archief2026
POSTGRES_DB=viernulvier_archief

# Database Connection
DATABASE_HOST=database
DATABASE_PORT=5432

# Sync worker API key
VIERNULVIER_KEY=api_key
